<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class="mat-toolbar-img" src="/assets/img/logo-pwr.png">
    <div *ngIf="userService.isLogged">
    <button mat-button routerLink="/enrollment">Zapisy</button>
    <button mat-button>Szablony zapisów</button>
    <button mat-button>Aktualny plan</button>
    </div>
    <span class="spacer"></span>
    <span *ngIf="userService.isLogged">{{userService.email}}</span>
    <button mat-icon-button (click)="this.userService.logout()" *ngIf="userService.isLogged" >
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button mat-icon-button (click)="this.userService.login()" *ngIf="!userService.isLogged">
      <mat-icon>login</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
