<div fxLayout="column" class="container" fxLayoutGap="50px" *ngIf="this.userService.logged() | async; else notlogged">

  <form [formGroup]="enrollmentForm" autocomplete="off">
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <div fxLayout="column">
        <mat-form-field appearance="fill" [style.width.px]="300">
          <mat-label>Kierunek</mat-label>
          <mat-select id="fieldOfStudySelect" (selectionChange)="selectFieldOfStudy($event)" formControlName="fieldOfStudy">
            <mat-option *ngFor="let fieldOfStudy of (fieldsOfStudy$ | async)" [value]="fieldOfStudy.code">{{fieldOfStudy.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('fieldOfStudy', 'required')">Wybierz kierunek studiów</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <mat-form-field appearance="fill" [style.width.px]="300">
          <mat-label>Blok zapisów</mat-label>
          <mat-select id="enrollmentBlockSelect" #enrollmentBlocks (selectionChange)="selectEnrollmentBlock($event)" formControlName="enrollmentBlock">
            <mat-option *ngFor="let block of blocks" [value]="block.id">{{block.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('enrollmentBlock', 'required')">Wybierz blok zapisów</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <button id="goToEnrollmentsButton" (click)="redirectToGroupEnrollment()" [disabled]="!enrollmentForm.valid" mat-raised-button color="accent">Przejdź do zapisów</button>
      <button [disabled]="true" mat-raised-button color="accent">Utwórz szablon</button>
    </div>
  </form>

  <div id="informationSection" *ngIf="enrollmentDetails" fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center">
      <h3>Informacje:</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <div fxLayout="column">
        <div>Ograniczenia: {{enrollmentDetails.isLimited?'Tak':'Nie'}}</div>
        <div>Rozpoczęcie bloku: {{enrollmentDetails.startDate | date: 'dd.MM.yyyy HH:mm'}}</div>
        <div>Zakończenie bloku: {{enrollmentDetails.endDate | date: 'dd.MM.yyyy HH:mm'}}</div>
      </div>
      <div fxLayout="column">
        <div>Korekty: {{enrollmentDetails.isCorrection?'Tak':'Nie'}}</div>
        <div>Rozpoczęcie studenta: {{enrollmentDetails.studentStartDate | date: 'dd.MM.yyyy HH:mm'}}</div>
        <div>Zakończenie studenta: {{enrollmentDetails.studentEndDate | date: 'dd.MM.yyyy HH:mm'}}</div>
      </div>
    </div>
  </div>

  <div id="currentCourses" fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center">
      <h3 [hidden]="currentCourses.data.length === 0">Bieżące kursy:</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <table [hidden]="currentCourses.data.length === 0" mat-table [dataSource]="currentCourses" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa kursu </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Kod kursu </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
        <ng-container matColumnDef="formOfClasses">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Forma zajęć </th>
          <td mat-cell *matCellDef="let element"> {{element.formOfClasses}} </td>
        </ng-container>
        <ng-container matColumnDef="numberOfEcts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Liczba ECTS </th>
          <td mat-cell *matCellDef="let element"> {{element.numberOfEcts}} </td>
        </ng-container>
        <ng-container matColumnDef="isSelectable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Wybieralny </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox disabled="true" [checked]="element.isSelectable"></mat-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

  <div id="overdueCourses" fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center">
      <h3 [hidden]="overdueCourses.data.length === 0">Zaległe kursy:</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <table [hidden]="overdueCourses.data.length === 0" mat-table [dataSource]="overdueCourses" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa kursu </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Kod kursu </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
        <ng-container matColumnDef="formOfClasses">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Forma zajęć </th>
          <td mat-cell *matCellDef="let element"> {{element.formOfClasses}} </td>
        </ng-container>
        <ng-container matColumnDef="numberOfEcts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Liczba ECTS </th>
          <td mat-cell *matCellDef="let element"> {{element.numberOfEcts}} </td>
        </ng-container>
        <ng-container matColumnDef="isSelectable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Wybieralny </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox disabled="true" [checked]="element.isSelectable"></mat-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

</div>

<ng-template #notlogged>
  <div fxLayout="column" fxLayoutAlign="center" *ngIf="!this.userService.isLogged">
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="10">
      <img src="https://biurokarier.pwr.edu.pl/wp-content/uploads/2019/10/logo-PWr-kolor-pion.png">
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <button id="login-btn" mat-raised-button color="accent" (click)="this.userService.login()">Zaloguj</button>
    </div>
  </div>
</ng-template>
