.container {
  padding-top: 25px;
}

table {
  width: 65%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
img {
  width: 25%;
  height: 25%;
}
