<div fxLayout="column" class="container" fxLayoutGap="50px">
  <div fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Kierunek</mat-label>
        <mat-select (selectionChange)="selectFieldOfStudy($event)">
          <mat-option *ngFor="let fieldOfStudy of fieldsOfStudy" [value]="fieldOfStudy.code">{{fieldOfStudy.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Blok zapisów</mat-label>
        <mat-select #enrollmentBlocks (selectionChange)="selectEnrollmentBlock($event)">
          <mat-option *ngFor="let block of blocks" [value]="block.id">{{block.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly">
    <button [disabled]="true" mat-raised-button color="accent">Przejdź do zapisów</button>
    <button [disabled]="true" mat-raised-button color="accent">Utwórz szablon</button>
  </div>

  <div *ngIf="enrollmentDetails" fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center">
      <h3>Informacje:</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <div fxLayout="column">
        <div>Ograniczenia: {{enrollmentDetails.isLimited?'Tak':'Nie'}}</div>
        <div>Rozpoczęcie bloku: {{enrollmentDetails.startDate | date: 'dd.MM.yyyy HH:mm'}}</div>
        <div>Zakończenie bloku: {{enrollmentDetails.endDate | date: 'dd.MM.yyyy HH:mm'}}</div>
      </div>
      <div fxLayout="column">
        <div>Korekty: {{enrollmentDetails.isCorrection?'Tak':'Nie'}}</div>
        <div>Rozpoczęcie studenta: {{enrollmentDetails.studentStartDate | date: 'dd.MM.yyyy HH:mm'}}</div>
        <div>Zakończenie studenta: {{enrollmentDetails.studentEndDate | date: 'dd.MM.yyyy HH:mm'}}</div>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center">
      <h3 [hidden]="currentCourses.data.length === 0">Bieżące kursy:</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <table [hidden]="currentCourses.data.length === 0" mat-table [dataSource]="currentCourses" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa kursu </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Kod kursu </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
        <ng-container matColumnDef="formOfClasses">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Forma zajęć </th>
          <td mat-cell *matCellDef="let element"> {{element.formOfClasses}} </td>
        </ng-container>
        <ng-container matColumnDef="numberOfEcts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Liczba ECTS </th>
          <td mat-cell *matCellDef="let element"> {{element.numberOfEcts}} </td>
        </ng-container>
        <ng-container matColumnDef="isSelectable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Wybieralny </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox disabled="true" [checked]="element.isSelectable"></mat-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center">
      <h3 [hidden]="overdueCourses.data.length === 0">Zaległe kursy:</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <table [hidden]="overdueCourses.data.length === 0" mat-table [dataSource]="overdueCourses" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa kursu </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Kod kursu </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
        <ng-container matColumnDef="formOfClasses">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Forma zajęć </th>
          <td mat-cell *matCellDef="let element"> {{element.formOfClasses}} </td>
        </ng-container>
        <ng-container matColumnDef="numberOfEcts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Liczba ECTS </th>
          <td mat-cell *matCellDef="let element"> {{element.numberOfEcts}} </td>
        </ng-container>
        <ng-container matColumnDef="isSelectable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Wybieralny </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox disabled="true" [checked]="element.isSelectable"></mat-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

</div>
